li {
  height: 90%;
  min-width: 350px;
  max-width: 350px;
  display: flex;
  align-items: center;
  gap: 8%;
  flex-direction: column;
  background-color: var(--color-backgroundContract);
  border: solid 20px var(--color-backgroundContract);
}

li:hover {
  background-color: var(--color-backgroundContractHover);
  border: solid 20px var(--color-backgroundContractHover);
  transition: 0.3s;
  h3 {
    color: var(--colo-fontColorContractHover);
  }
  .contractInfo > p {
    color: var(--colo-fontColorContractHover);
  }
  .contractInfo > span {
    color: var(--colo-fontColorContractHover);
  }
  .objContract > h4 {
    color: var(--colo-fontColorContractHover);
  }
  .objContract > p {
    color: var(--colo-fontColorContractHover);
  }
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.contractInfo {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.contractInfo > p {
  width: 90%;
}

.contractInfo > span {
  font-size: 18px;
  font-weight: bold;
}

.objContract {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.objContract > h4 {
  font-size: 18px;
  font-weight: bold;
}
.objContract > p {
  word-break: break-all;
  font-size: 12px;
}
